# backend/requirements.txt
opencv-python-headless==4.10.0.84
numpy==1.26.4
Pillow==10.4.0
fastapi==0.111.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
python-dotenv==1.0.1
pymongo==4.9.1
pytest==8.3.2
pytest-cov==5.0.0
